/* Fonts */
@font-face {
  font-family: "Lato-Semibold";
  src: url("fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("fonts/Lato-Regular.ttf");
}

/* Supporting styles */
body {
  margin: 0 auto;
  padding: 0;
  width: 1400px;
  height: 100%;
}

.wrapperContent {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

/* header style */
.headMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #3c434d;
  -webkit-box-shadow: #3c434d 0px 2px 0px 0px;
          box-shadow: #3c434d 0px 2px 0px 0px;
}

.menuList {
  padding: 6px 0 0 33px;
  width: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato-Semibold", sans-serif;
  font-size: 18px;
  color: #80909c;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.menu_link {
  text-decoration: none;
  color: #80909c;
}

.menu_link:hover {
  color: #FFFF;
}

.profileBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
}

.photoAva {
  position: relative;
  margin: 6px 0 0 2px;
}

.infocircle {
  position: absolute;
  border-radius: 50%;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #e74949;
  left: 33px;
  top: -5px;
  color: #ffffff;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
}

.profileText {
  padding: 6px 0 0 27px;
  color: #ffffff;
  font-family: "Lato-Semibold", sans-serif;
  font-size: 18px;
}

/* First section style */
.firstBlock {
  background: url(image/background/background1.png) center no-repeat;
  width: 100%;
  height: 534px;
}

.fs_Tittle {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 48px;
  margin: auto;
  text-align: center;
  width: 779px;
  padding-top: 113px;
}

.fs_Text {
  color: #ffffff;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 825px;
  line-height: 29px;
  padding-left: 171px;
}

.block_btn {
  padding-top: 51px;
  width: 450px;
  margin: auto;
}

.btn_firtsBlock {
  font-family: "Lato-Regular", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  width: 200px;
  padding: 20px 40px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.btn_firtsBlock:hover {
  background-color: #629fd1;
  border-color: #629fd1;
}

/* Feedback section style */
.feedback {
  height: 565px;
  width: 100%;
}

/* FAQ section style */
.faq {
  height: 739px;
  width: 100%;
}

.faqTittle {
  margin-top: 113px;
  text-align: center;
  font-size: 48px;
  font-family: "Lato-Bold", sans-serif;
}

.faqList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1070px;
  height: 365px;
  list-style: none;
  margin-top: 62px;
  padding-left: 99px;
}

.space {
  margin-right: 130px;
}

.listItem {
  position: relative;
  width: 470px;
  height: 150px;
}

.li_tittle {
  margin-bottom: -1px;
  font-size: 20px;
  font-family: "Lato-Bold", sans-serif;
}

.li_text {
  color: #80909c;
  line-height: 30px;
  font-size: 18px;
  font-family: "Lato-Regular", sans-serif;
}

.smtop {
  margin-top: 18px;
}

.iconFAQ {
  position: absolute;
  left: -18.9%;
  top: 20%;
}

.iconFAQ_2 {
  position: absolute;
  left: -18%;
  top: 15%;
}

.iconFAQ_3 {
  position: absolute;
  top: 15%;
  left: -19%;
}

/* Team section style */
.team {
  height: 705px;
}

/* Footer section style */
.footer {
  background-color: #3c434d;
  width: 100%;
  height: 430px;
}

.topFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 66px;
}

.footformBlock {
  width: 500px;
  height: 220px;
}

.footerMenu {
  list-style: none;
  margin-top: -27px;
}

.fmTitle {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  color: white;
}

.menuItem {
  font-size: 18px;
  font-family: "Lato-Regular", sans-serif;
  text-decoration: none;
  color: #80909c;
}

.rightmenu {
  padding-right: 86px;
}

.leftmenu {
  padding-right: 146px;
}

.lowFooter {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerCT {
  font-size: 18px;
  font-family: "Lato-Regular", sans-serif;
  color: #80909c;
}

.socialList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.social_link {
  font-size: 24px;
  color: #629fd1;
}

.social_link:hover {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */