/* Fonts */
@font-face {
  font-family: "Lato-Semibold";
  src: url("fonts/Lato-Semibold.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("fonts/Lato-Regular.ttf");
}

/* Supporting styles */
body {
  margin: 0 auto;
  padding: 0;
  width: 1400px;
  height: 100%;
}

.wrapperContent {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

/* header style */
.headMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  background-color: #3c434d;
  -webkit-box-shadow: #3c434d 0px 2px 0px 0px;
          box-shadow: #3c434d 0px 2px 0px 0px;
}

.menuList {
  padding: 6px 0 0 33px;
  width: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato-Semibold", sans-serif;
  font-size: 18px;
  color: #80909c;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.menu_link {
  text-decoration: none;
  color: #80909c;
}

.menu_link:hover {
  color: #FFFF;
}

.profileBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
}

.photoAva {
  position: relative;
  margin: 6px 0 0 2px;
}

.infocircle {
  position: absolute;
  border-radius: 50%;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #e74949;
  left: 33px;
  top: -5px;
  color: #ffffff;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
}

.profileText {
  padding: 6px 0 0 27px;
  color: #ffffff;
  font-family: "Lato-Semibold", sans-serif;
  font-size: 18px;
}

/* First section style */
.firstBlock {
  background: url(image/background/background1.png) center no-repeat;
  width: 100%;
  height: 534px;
}

.fs_Tittle {
  color: #ffffff;
  font-family: "Lato-Bold", sans-serif;
  font-size: 48px;
  margin: auto;
  text-align: center;
  width: 779px;
  padding-top: 113px;
}

.fs_Text {
  color: #ffffff;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  text-align: center;
  width: 825px;
  line-height: 29px;
  padding-left: 171px;
}

.block_btn {
  padding-top: 51px;
  width: 450px;
  margin: auto;
}

.btn_firtsBlock {
  font-family: "Lato-Regular", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #ffffff;
  width: 200px;
  padding: 20px 40px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.btn_firtsBlock:hover {
  background-color: #629fd1;
  border-color: #629fd1;
}

/* Feedback section style */
.feedback {
  height: 565px;
  width: 100%;
}

/* FAQ section style */
.faq {
  height: 739px;
  width: 100%;
}

/* Team section style */
/* Footer section style */
/*# sourceMappingURL=style.css.map */